<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <title>Daftar Pasien</title>
</head>

<body class="nav-md">

  <div class="modal-custom">
    <div class="modal-content">
      <span class="close-btn">
        <h1>Hapus Record?</h1>
        <button class="btn-hapus pull-right btn btn-danger">Hapus</button>
        <button class="btn-cancel pull-right btn btn-secondary">Batal</button>
      </span>
    </div>
  </div>
  <div class="container body">
    <div class="main_container">
      <% include partials/navigation %>

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <div class="title_left">
                    <h3>Daftar Pasien</h3>
                  </div>

                  <div class="title_right col-md-5 col-sm-5 col-xs-12 pull-right">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
                      <div class="input-group">

                        <input type="text" class="form-control pull-right" id="input_cari" placeholder="Kata kunci...">
                        <span id="searchclear" class="glyphicon glyphicon-remove"></span>

                        <span class="input-group-btn">
                          <button class="btn btn-outline-secondary" id="btn_cari" type="submit"><span class="glyphicon glyphicon-search">
                              Cari</span></button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="x_content">
                  <% if (jmlTerhapus != 0) { %>
                  <div class="product_price">
                    <i class="price-tax"> <%= jmlTerhapus %> Record terhapus.</i>
                  </div>
                  <% } %>
                  <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                      <thead>
                        <tr class="headings">
                          <th>
                            <input type="checkbox" id="check-all" class="flat">
                          </th>
                          <th class="column-title">NIM </th>
                          <th class="column-title">Fakultas </th>
                          <th class="column-title">Nama Lengkap </th>
                          <th class="column-title">Tanggal Lahir </th>
                          <th class="column-title">Nomor Telepon </th>
                          <th class="column-title">Jenis Kelamin</th>
                          <th class="column-title no-link last"><span class="nobr">Opsi</span>
                          </th>
                          <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;"> ( <span class="action-cnt">
                              </span> )
                              <button class="opsi-hapus btn btn-sm btn-danger" type="button" data-placement="top"
                                data-toggle="tooltip" data-original-title="Hapus"><i class="fa fa-trash"></i></button>
                            </a>
                          </th>
                        </tr>
                      </thead>

                      <tbody id="tbody_records">
                        <% for(var i = 0;i < data.length;i++) { %>
                        <tr class="even pointer">
                          <td class="a-center ">
                            <input type="checkbox" id="<%= data[i].nim %>" class="opsi-hapus flat" name="table_records">
                          </td>
                          <td class=" ">
                            <%=data[i].nim%>
                          </td>
                          <td class=" ">
                            <%=data[i].id_fak%>
                          </td>
                          <td class=" ">
                            <%=data[i].nama_pas%>
                          </td>
                          <td class=" ">
                            <%=data[i].tgl_lahir%>
                          </td>
                          <td class=" ">
                            <%=data[i].nomor_tel%>
                          </td>
                          <td class=" ">
                            <%=data[i].jenis_kel%>
                          </td>
                          <td class=" ">
                            <button id="<%= data[i].nim %>" class="btn-edit btn btn-sm btn-default"
                              type="button" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i
                                class="fa fa-edit"></i></button>
                          </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->
      <% include partials/footer.ejs %>
    </div>
  </div>
  <% include partials/scripts.ejs %>
  <script src="./js/tabelPasien.js"></script>
  <script src="./js/handleEditPas.js"></script>
</body>

</html>